.task-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .task {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }